{% extends 'layout/home.html.twig' %}

{% block main %}
    <div class="main-side">
        <div class="wrapper">
            <section class="categories hi-icon-wrap hi-icon-effect-8">
                <a href="#" class="category hi-icon">
                    <div class="category__content">
                        <div class="category__icon icon-parquet"></div>
                        <div class="category__title">
                            ламінат
                        </div>
                    </div>
                </a>
                <a href="#" class="category hi-icon">
                    <div class="category__content">
                        <div class="category__icon icon-armchair-silhouette"></div>
                        <div class="category__title">
                            меблі
                        </div>
                    </div>
                </a>
                <a href="#" class="category hi-icon">
                    <div class="category__content">
                        <div class="category__icon icon-icon"></div>
                        <div class="category__title">
                            сайдінг
                        </div>
                    </div>
                </a>
            </section>

            <div class="copyrights">
                Всі права захищені. Підрахуй, 2017
            </div>
        </div>
    </div>
{% endblock %}