
{% extends 'base.html.twig' %}


{% block body %}
    this is fir11st/index vie12311w 21111
    <h1>{{ testVar }}</h1>

    {% for item in arr %}
        <h2>{{ item }}</h2>
    {% endfor %}
{% endblock %}
