
###> symfony/framework-bundle ###
.env
.idea
.svn
.DS_Store
node_modules
/public/bundles/
/var/
/vendor/
/public/uploads/
/public/img/common/content

###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
