{% block meta %}
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{ meta.title|default('Пидрахуй, купить ламинат в Чернигове, бесплатная доставка, бесплатная укладка') }}</title>

    <meta name="description" content="{{ meta.description|striptags|escape|default('Пидрахуй, купить ламинат в Чернигове, бесплатная доставка, бесплатная укладка, ламинат Чернигов, паркет в Чернигове, виниловый пол купить в Чернигове, купить Egger в Чернигове, купить Parador в Чернигове, купить Witex в Чернигове') }}">
    <meta name="Keywords" content="{{ meta.keywords|striptags|escape|default('Пидрахуй, купить ламинат в Чернигове, бесплатная доставка, бесплатная укладка, ламинат Чернигов, паркет в Чернигове, виниловый пол купить в Чернигове, купить Egger в Чернигове, купить Parador в Чернигове, купить Witex в Чернигове') }}">
{% endblock %}
