<div class="nav-mobile" id="js_mobile-nav">
    <div class="nav-mobile__title">
        <a href="/">
            <img src="/img/logo-sm.png" alt="Підрахуй. У нас купуваты вигідніше" class="logo--mobile">
        </a>

        <a href="#" class="nav-mobile__button" id="js_mobile-btn"></a>
    </div>

    <div class="nav-mobile__content empty" id="js_mobile-nav-content"></div>
</div>