<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        {% block meta %}{% endblock %}
        {% block style %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
