body {
    margin: 0;
    font-family: GothamProRegular, sans-serif;

}

* {
    font-weight: normal;
    margin: 0;
    line-height: 1.2;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}